<!DOCTYPE html>
<html>
<head>
  <title>Groshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">GroShop</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="span12">

      

<%- flash.each do |name, msg| -%>
  <div id="flash_notice" class="notification_bar">
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg %>
    </div>
  </div>
<%- end -%>

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<%= yield %>

      </div>
    </div>
  </div>

</body>
</html>
